<div class="board">
  <div class="snake-node" *ngFor="let node of snake"
    [style.left.px]="(node.x - 1) * 16"
    [style.top.px]="(node.y - 1) * 16"
  ></div>
  <div class="food" *ngIf="food"
    [style.left.px]="(food.x - 1) * 16"
    [style.top.px]="(food.y - 1) * 16"
  ></div>
</div>

<div class="controls">
  <button class="controls__start" (click)="start()">START</button>
  <span class="controls__score">
    <label>Score: </label>
    <span>{{score}}</span>
  </span>
  <span class="controls__max">
    <label>Max Score: </label>
    <span>{{maxScore}}</span>
  </span>
</div>

<div class="modal" [ngClass]="{'modal--closed': closed}">
  <div class="modal__score">
    <label>Your score: </label>
    <span>{{score}}</span>
  </div>
  <div class="modal__controls">
    <button (click)="start()">Play Again</button>
    <button (click)="close()">Close</button>
  </div>
</div>
