.board {
  margin: 0 auto;
  position: relative;
  width: 800px;
  height: 800px;
  background-color: #eee;
  border: 1px solid red;
  overflow: hidden;
}

.snake-node {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: black;
}

.food {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: blue;
}

.controls {
  background-color: gray;
  width: 800px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;

  &__start {
    font-size: 1.5em;
  }

  &__score {
    font-size: 1.5em;
    font-weight: 900;
    color: white;
  }

  &__max {
    font-size: 1.5em;
    font-weight: 900;
    color: white;
  }
}
